.divResultadoFtpOnline
{
    TEXT-ALIGN:LEFT; 
    TEXT-TRANSFORM:UPPERCASE; 
    FONT-FAMILY: 'SEGOE UI', 'OPEN SANS', ARIAL, SANS-SERIF; 
    TEXT-DECORATION: NONE;
    FONT-SIZE:16PX;
    COLOR: #000;
}

.tabelaColunaLabelResultadoFtpOnline
{
    BACKGROUND-COLOR:#E9E9E9;
    border-bottom: 1px solid #B5B5B5;
    PADDING-LEFT: 5PX;
    FONT-SIZE:14PX;
    WIDTH:220PX;
}

.tabelaColunaResultadoFtpOnline
{
    border-bottom: 1px solid #B5B5B5;
    BACKGROUND-COLOR:#fff;
    PADDING-LEFT: 2PX;
    FONT-SIZE:14PX;
}

.MensagemPesquisaFinalizadaFtpOnline
{
    border-top:solid 1px #9A9A9A;
}

.glyphiconCustom
{
    position:relative;
    top:1px;
    display:inline-block;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.btnCustom-danger
{
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
    color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a;
}

.btnCustom-danger:hover,.btnCustom-danger:focus,.btnCustom-danger:active,.btnCustom-danger.active,.open>.dropdown-toggle.btnCustom-danger
{
    color:#fff;
    background-color:#c9302c;
    border-color:#ac2925;
}

.LabelSize14
{
    COLOR: #000;
    FONT-FAMILY: 'SEGOE UI', 'OPEN SANS', ARIAL, SANS-SERIF; 
    TEXT-DECORATION: NONE;
    TEXT-TRANSFORM: UPPERCASE;
    FONT-WEIGHT:NORMAL;
    FONT-SIZE:14PX;
    VERTICAL-ALIGN:MIDDLE !IMPORTANT;
    TEXT-ALIGN: CENTER !IMPORTANT;
}

.gridFtpOnlineHeader
{
    COLOR: #000;
    FONT-FAMILY: 'SEGOE UI', 'OPEN SANS', ARIAL, SANS-SERIF; 
    TEXT-DECORATION: NONE;
    TEXT-TRANSFORM: UPPERCASE;
    BACKGROUND-COLOR:#E9E9E9;
    BORDER-BOTTOM: 1PX SOLID #B5B5B5;
    FONT-WEIGHT:NORMAL;
    FONT-SIZE:14PX;
    HEIGHT: 50PX;
    VERTICAL-ALIGN:MIDDLE !IMPORTANT;
    TEXT-ALIGN: CENTER !IMPORTANT;
}

.gridFtpOnlineItem
{
    BACKGROUND-COLOR:#FFF;
    BORDER-BOTTOM: 1PX SOLID #B5B5B5;
    HEIGHT: 50PX;
    VERTICAL-ALIGN:MIDDLE !IMPORTANT;
    COLOR: #000;
    FONT-FAMILY: 'SEGOE UI', 'OPEN SANS', ARIAL, SANS-SERIF; 
    TEXT-DECORATION: NONE;
    FONT-SIZE:13PX;
    TEXT-TRANSFORM: UPPERCASE;

}

.gridFtpOnlineItem2
{
    BACKGROUND-COLOR:#F9F9F9;
    PADDING-LEFT: 2PX;
    FONT-SIZE:11PX;
    BORDER-BOTTOM: 1PX SOLID #FFF;
}
